name: Build and Test

on:
  push:
    branches: [master]
    tags:
      - "*"
  pull_request:
    branches: [master]

jobs:
  build:
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install pipenv
        run: |
          pip install pipenv
      - name: Install dependencies
        run: |
          pipenv install --dev
      # - name: Test with Unittest
      #   run: |
      #     pipenv run python manage.py test
      - name: Build wheel
        run: |
          pipenv run pip wheel --no-deps -w ./dist .
      - name: Archive wheel artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-wheels
          path: |
            dist/*.whl
      - name: Upload wheel
        if: startsWith(github.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@v1.12.4
        with:
          user: ${{ secrets.PYPI_USER }}
          password: ${{ secrets.PYPI_PASSWORD }}
          repository-url: https://pypi.olescloud.de/
          skip-existing: true
